@import './src/styles/abstracts/mixins';

.Layout {
  display: flex;
  width: 100vw;
  height: 100vh;

  @include respond(tab-port) {
    flex-direction: column-reverse;
  }

  .RecipeControlPanel {
    display: block;
    width: 500px;
    background-color: #1a202c;
  }

  .RecipeDisplay {
    display: block;
    width: 100%;
    background-color: #edf2f7;

    @include respond(tab-port) {
      height: 65%;
    }
  }
}
