@import './src/styles/abstracts/mixins';
@import './src/styles/base/base';

.Dom {
  background-color: #fff;
  position: relative;
  width: 700px;
  height: 700px;
  @include respond(tab-land) {
    max-width: 600px;
    max-height: 600px;
  }

  //750px
  @media only screen and (max-height: 46.875em) {
    max-width: 550px;
    max-height: 550px;
  }
  //570px
  @media only screen and (max-height: 35.625em) {
    max-width: 480px;
    max-height: 480px;
  }
  //500px
  @media only screen and (max-height: 31.25em) {
    max-width: 450px;
    max-height: 450px;
  }

  //1050px
  @media only screen and (max-width: 65.625em) {
    max-width: 500px;
    max-height: 500px;
  }

  //950px
  @media only screen and (max-width: 59.375em) {
    max-width: 450px;
    max-height: 450px;
  }
  //600px
  @media only screen and (max-width: 37.5em) {
    max-width: 400px;
    max-height: 400px;
    margin: 0 1em;
  }
  //0-432
  @media only screen and (max-width: 27em) {
    width: 90%;
    height: 48%;
    margin: 0 1em;
  }
}

//Horizontal Layout
.HorizontalContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #6b7280;
  @media only screen and (max-width: 65.625em) {
    font-size: 1.3rem;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 1rem;
  }
  .ImageContainer {
    display: flex;
    justify-content: center;
    .Image {
      padding-top: 6%;
      max-width: 85%;
      height: auto;

      @include respond(phone) {
        padding-top: 5%;
      }
    }
  }
  .RecipeGroup {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    height: 100%;
  }

  .RecipeTextFraction {
    font-feature-settings: frac;
    font-variant-numeric: diagonal-fractions;
  }
}
//Vertical Layout
.VerticalContent {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  color: #6b7280;

  @media only screen and (max-width: 37.5em) {
    font-size: 1.2rem;
  }
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .Image {
      padding-left: 5%;
      max-height: 86%;
    }
  }
  .RecipeGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .RecipeTextFraction {
    font-feature-settings: frac;
    font-variant-numeric: diagonal-fractions;
  }
}
