.Button {
  color: #eeeeee;
  background-color: #4a5568;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  padding: 0.8em 1.2em;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  outline: none;
  &:hover {
    background-color: #1c3d6b;
    cursor: pointer;
  }
}
.circleScaleBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.ButtonDisabled {
  color: #ffffff6b;
  background-color: #9c9c9c;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  padding: 0.8em 1.2em;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  pointer-events: none;
  touch-action: none;
}
